.scene {
    width: 30vw;
    height: 15vw;
    perspective: 600px;
    transition: all 0.2s ease-in-out;
    //border: 2px solid #fff;
    &:hover{
        transform: scale(1.1);
    }
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;

    width: 100%;
    height: 100%;

    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    text-align: center;
    font-size: 80%;

    text-decoration: none;
    
    border-radius: 5px;
    color: #fff;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}



.card__face--front {
    box-shadow: 0 8px 32px 0 rgba(86, 31, 135, 0.37);
    background: rgba(67, 72, 140, 0.25);
}

.card__face--back {
    box-shadow: 0 8px 32px 0 rgba( 31, 135, 130, 0.37 );
    background: rgba(67, 140, 97, 0.25); 
    transform: rotateY(180deg);
}

.easy{
    filter: hue-rotate(0deg);
}
.medium{
    filter: hue-rotate(180deg);
}
.hard{
    filter: hue-rotate(90deg);
}

