$blue: rgb(0, 129, 167);
$aqua: rgb(0, 175, 185);
$cream: rgb(253, 252, 220);
$peach: rgb(254, 217, 183);
$orange: rgb(240, 113, 103);

$blue-50: rgba(0, 129, 167, 0.5);
$aqua-50: rgba(0, 175, 185, 0.5);
$cream-50: rgba(253, 252, 220, 0.5);
$peach-50: rgba(254, 217, 183, 0.5);
$orange-50: rgba(240, 113, 103, 0.5);

$blue-25: rgba(0, 129, 167, 0.25);
$aqua-25: rgba(0, 175, 185, 0.25);
$cream-25: rgba(253, 252, 220, 0.25);
$peach-25: rgba(254, 217, 183, 0.25);
$orange-25: rgba(240, 113, 103, 0.25);

$bg-color: #1B1B1B;


$border-gray: #BBBBBB;
$highlight-color: #303030;
$border-radius: 20px;


$font-gray: #4F4F4F;


$light-gray: rgba(187, 187, 187, 0.2);